.img_gallery {
  max-width: 767px;
  padding: 10px;
  margin: 0 auto;
}

.img_items {
  width: 100%;
  text-align: center;
}

.img_items>div {
  display: inline-block;
  min-width: 160px;
  width: 30%;
  border-radius: 5px;
  border: 3px solid #34231a;
  margin: 2px;
  cursor: pointer;
  max-width: 100%;
}

.img_items>div>img {
  width: 100%;
  display: block;
}


/* ################################################## */

.slider-overlay {
  background-color: rgba(0, 0, 0, 0.80);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 500px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.slider img {
  user-select: none;
  -webkit-user-select: none;
}

.slider-content {
  height: 100%;
  position: relative;
  z-index: 1;
  display: flex;
}

.slider-content>div img {
  width: 100%;
  display: block;
  cursor: pointer;
}

.slider-controlls {
  font-family: "Times New Roman", Times, serif;
  display: none;
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  justify-content: center;
  align-items: center;
  font-size: 60px;
  padding: 0 8px 5px 8px;
  cursor: pointer;
  background-color: #0f0f0f;
  border: 3px solid #34231a;
  opacity: 0.9;
  color: #996019;
}

.slider-controll-right {
  right: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-right: none;
}

.slider-controll-left {
  left: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-left: none;
}

.slider-nav {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  padding: 5% 2% 2% 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-nav>div {
  width: 50px;
  height: 7px;
  background-color: #787878;
  cursor: pointer;
  opacity: 0.5;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
}

.slider-nav .slider-active {
  background-color: #996019 !important;
  opacity: 1;
}

.slider-nav>div:not(:last-child) {
  margin-right: 3px;
}