body, nav, div, button, ul, li, ol {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: Verdana, Geneva, sans-serif
}

body *{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.fixed-bg {
  background-image: url("../img/bg-index.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 3%;
}

.container>div {
  width: 30%;
  margin-top: 3%;
  border: 2px solid #60a9ca;
  border-radius: 6%;
  position: relative;
}

.hover-info {
  display: none;
  color: #ffffff;
  font-size: 1.5em;
  position: absolute;
  bottom: 0px;
  left: 4%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
}

.empty {
  background: rgba(1, 8, 16, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 900000px;
  -webkit-perspective: 900000px;
}

.wow {
  background-image: url("../img/bg-wow.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes emptyDivRotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@-webkit-keyframes emptyDivRotate {
  from {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
  }
}

.image-spin {
  animation-name: emptyDivRotate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  -webkit-animation-name: emptyDivRotate;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 4s;
  max-width: 20vw;
}
