* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #021d28;
  background-image: url("../img/bg-index.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 1024px;
  min-width: 320px;
  padding: 5%;
  margin: 0 auto;
}

img {
  user-select: none;
  -Webkit-user-select: none;
  max-width: 100%;
}

.logo {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  background-size: cover;
}

.angular-logo {
  background-image: url("../img/angular.png");
}

.jquery-logo {
  background-image: url("../img/jquery.png");
}

.site {
  border: 2px solid #60a9ca;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;
  position: relative;
  width: calc(100% - 70px);
}

.site>img {
  border-radius: 10px;
  display: block;
}

.hover-info {
  display: none;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 1.5em;
  position: absolute;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 100%;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px;
}

.site-element {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media not all and (pointer: coarse) {
  .site:hover {
    border-color: #a0dcf7;
  }
  .site-element:hover .hover-info {
    display: block;
  }
}

@media screen and (min-width: 540px) {
  .logo {
    width: 80px;
    height: 80px;
  }
  .site {
    width: calc(100% - 120px);
  }
}

@media screen and (min-width: 767px) {
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .site-element {
    width: 45%;
  }
}