@media screen and (min-width: 1921px) {
  .container, .privacy-content, .cookie-content {
    width: 1920px;
  }
  .nav-bar, .buy-games, .free-acc {
    width: inherit;
  }
}

@media screen and (max-width: 1024px) {
  .trailers>div {
    width: 47%;
  }
  .cover-art, .cover-art-menu {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .login-form {
    width: 80%;
  }
  .trailers>div {
    width: 95%;
  }
  .flex-control-nav {
    width: 100%;
    text-align: center;
  }
  .flex-control-nav li {
    width: 10%;
  }
  .flex-control-paging li a {
    width: auto;
  }
  .flex-direction-nav {
    display: none !important;
  }
  .grid {
    right: 54px;
  }
  .wide {
    right: 20px;
  }
  .tabs {
    width: 100%;
  }
  .tab-link {
    width: 29% !important;
  }
  .privacy-content>div, .cookie-content>div {
    width: 95%;
  }
  .mob-close {
    display: block;
  }
  .buy-games {
    max-height: 460px;
    overflow-y: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-right: 0px;
  }
  .img_gallery {
    width: 100%;
  }
  .img_gallery img {
    width: 13em;
  }
  .img_gallery li {
    margin: 2px;
  }
  .top-content>* {
    display: block;
    width: 100%;
  }
  .game-info-scroll, .purchase-content {
    padding: 0 2%;
  }
  .game-info-scroll {
    height: 330px !important;
    width: 95% !important;
    margin: 0 auto;
  }
}

@media screen and (max-width: 682px) {
  .footer-nav div:not(:last-child) ul {
    border-right: none !important;
  }
}

@media screen and (max-width: 669px) {
  .login-form {
    width: 90%;
  }
  .registration {
    width: 99%;
    box-sizing: border-box;
  }
  .img_gallery img {
    width: 43vw;
  }
}

@media screen and (max-width: 444px) {
  .footer-nav {
    margin-top: 60px;
  }
}

@media screen and (max-width: 440px) {
  .footer-nav {
    margin-top: 60px;
  }
  .login-form {
    width: 100%;
  }
  .login-form-btns, .fb-google, .or, .login-form-inputs input {
    width: 90%;
  }
  .month {
    width: 59.5%;
  }
  .day, .year {
    width: 19.5%;
  }
  .tab-link {
    width: 28% !important;
  }
}

@media screen and (max-width: 360px) {
  .login-form-btns button:not(:first-child) {
    width: 100%;
  }
  .game {
    width: 44%;
  }
  .tab-link {
    width: 28vw !important;
    font-size: 4vw;
  }
  .free-acc-text p {
    font-size: 13vw;
  }
}