body, html, div, ul, li, p{
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 8px;
}

.container{
  position: relative;
  min-width: 320px;
}

body{
  background-color: #1a1a23;
  overflow-x: hidden;
}

body *{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.header-top{
  width: 100%;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  height: 69px;
}
.header-top > div{
  display: inline-block;
  vertical-align: middle;
}

.header-top-logo{
  height: 100%;
  -webkit-user-select: none;
  user-select: none;
}

.header-top-logo img{
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.header-top-logo, .header-top-btn{
  width: 160px;
}

.reg-arrows{
   letter-spacing: -3px;
   margin-left: 5px;
}

.header-top-text{
  text-transform: uppercase;
  color: white;
  width: calc(90% - 320px);
  font-size: 2em;
  font-weight: bold;
}

.header-bottom-bg{
  position: absolute;
  top: 0;
  max-width: 100%;
  text-align: right;
  z-index: 1;
}

.header-bottom-content{
  margin: 0 auto;
  width: 85%;
  box-sizing: border-box;
  z-index: 2;
}


.header-bottom-left{
  width: 40%;
  box-sizing: border-box;
  overflow: hidden;
}

.bonus{
  border: 3px solid rgb(42, 200, 76);
  width: 75%;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 20%;
  margin-bottom: 15%;
  margin-top: 15%;
  box-shadow:
  0px 0px 60px 10px rgba(42, 200, 76, 0.4),
  inset 0px 0px 60px 20px rgba(42, 200, 76, 0.4);
  background-color: rgba(42, 200, 76, 0.1);
  text-align: center;
  padding: 20px;
}

.bonus-text1{
  text-align: center;
  color: #ffc002;
  font-size: 2.2vw;
  font-weight: bold;
}

.bonus-text2{
  text-align: center;
}

.bonus-text2 span:first-child{
  color: #ffffff;
  font-size: 5vw;
  font-weight: bold;
}

.bonus-text1, .bonus-text2{
  text-shadow: 10px 13px 10px #000000;
}

.bonus-text2 span:last-child{
  color: #ffc002;
  font-size: 3vw;
  font-weight: bold;
}

.bonus-btn img {
    width: 100%;
}

.header-bottom-left-logos{
  text-align: center;
  margin-bottom: 20%;
}

.header-bottom-left-logos img{
  max-width: 95%;
}

.registration>div{
  width: 100%;
}

.reg-title{
  font-weight: bold;
  color: white;
  text-align: center;
  font-size: 5em;
  margin-bottom: 40px;
  margin-top: 20px;
}

.reg-img-top, .reg-img-bottom{
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
  -webkit-user-select: none;
  user-select: none;
}

.steps{
  box-sizing: border-box;
  text-align: center;
}

.steps>div:not(:last-child){
  margin-right: 10%;
}

.steps>div, .reg-text>div{
  display: inline-block;
  vertical-align: top;
}

.steps>div{
  margin-bottom: 40px;
}

.reg-text-title{
  font-weight: bold;
  color: #ffd201;
  text-transform: uppercase;
  font-size: 2.2em;
  text-align: left;
  line-height: 25px;
  width: 175px;
  margin-bottom: 5px;
}

.reg-text-content{
  color: white;
  font-size: 1.5em;
  text-align: left;
  line-height: 15px;
  width: 206px;
}

.reg-text-num{
  vertical-align: top;
  color: #ffd201;
  font-size: 8em;
  padding: 0 10px 0 10px;
  line-height: 60px;
  font-weight: bold;
}

.reg-img-icon{
  margin-bottom: 15px;
}

.reg-img-icon img{
  width: 70px;
}

.bonus-btn, .header-top-btn, .pop-up-btn, .registration-btn, .header-top-logo img{
  cursor: pointer;
}

.follow{
  background-color: #ffc002;
  width: 100%;
  box-sizing: border-box;
  color: #1a1a23;
  overflow: hidden;
  text-align: center;
}
.follow-text{
  font-weight: bold;
  font-size: 3em;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 40px;
}

.follow-logos{
  text-align: center;
  margin-bottom: 30px;
}

.follow-logos li{
  height: 63px;
  display: inline-block;
  vertical-align: middle;
}

.follow-logos li img{
  max-width: 100%;
}

.follow-logos li:not(:last-child){
  margin-right: 70px;
}

.footer{
  background-color: black;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #666666;
}

.footer-title, .footer-text{
  width: 70%;
  margin: 0 auto;
  line-height: 15px;
  font-weight: bold;
  font-size: 1.2em;
}

.footer-text p{
  font-size: 1em;
}

.footer-title{
margin-bottom: 20px;
}

.payment{
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.payment1{
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.payment1 img{
  max-width: 100%;
}

.payment2{
  width: 20%;
  margin: 0 auto;
}

.payment2 img{
  max-width: 100%;
}

.mob-peyment, .mob-header-bottom{
  display: none;
}

a{
  outline: none;
}
.pop-up-content {
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pop-up {
  position: fixed;
  width: 100%;
  background-color: black;
  opacity: 0.9;
  box-sizing: border-box;
  bottom: 0;
  z-index: 3;
  padding: 10px;
  display: none;
}

.pop-up-text {
  color: #a4a5a5;
  font-size: 1.4em;
  width: 70%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.pop-up-text a {
  font-size: bold;
  color: #ebc317;
}

.pop-up-btn {
  background-color: #ebc317;
  color: black;
  padding: 10px;
  border-radius: 5px;
  width: 100px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

.pop-up-btn, .winners, .rules, .registration, .bet, .footer-btn, .close-btn, .open-rules {
  cursor: pointer;
}

.header-bottom{
  background-image: url("../img/newbonus.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 4%;
}

.header-top-btn, .registration-btn{
  border: 2px solid #ffc002;
  padding: 5px;
  text-align: center;
  border-radius: 10vw;
}

.header-top-btn div, .registration-btn div{
  background-color: #ffc002;
  font-size: 2.3em;
  width: 100%;
  font-weight: bold;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 10vw;
}

.registration-btn{
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.registration-btn div{
  padding: 15px;
  width: 100%;
  font-size: 1.5vw;
}

.reg-btn2{
  width: 340px !important;
}

.reg-btn2 div{
  font-size: 3em !important;
}
