@media screen and (min-width: 1921px){
  .container{
    width: 1920px;
    margin: 0 auto;
  }

  .pop-up{
    width: inherit;
  }

  .bonus-text1, .bonus-text2 span:last-child, .registration-btn div{
    font-size: 43px;
  }

  .registration-btn div{
    font-size: 30px;
  }

  .bonus-text2 span:first-child{
    font-size: 96px;
  }
}

@media screen and (max-width: 1279px){
  .steps>div:not(:last-child){
    margin-right: 5%;
  }

  .payment1{
    width: 100%;
  }
}

@media screen and (max-width: 1024px){
  .payment1{
    width: 90%;
  }

  .footer-title, .footer-text{
    width: 90%;
  }
}

@media screen and (max-width: 960px){
  .steps>div:not(:last-child){
    margin-right: 0px;
  }

  .follow-logos li{
    width: 49%;
  }

  .follow-logos li:not(:last-child){
    margin-right: 0px;
  }
}

/* MOBILE */

@media screen and (max-width: 767px){
  .container{
    overflow-x: hidden;
  }

  .header-top-text{
    display: none !important;
  }

  .header-top-logo{
    float: left;
  }

  .header-top-btn{
    float: right;
  }

  .header-top:after {
    /* clearfix */
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }

  .reg-img-top, .reg-img-bottom{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .reg-title{
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .steps>div{
    display: block;
  }

  .reg-btn{
    margin-bottom: 20px;
  }

  .reg-btn img{
    width: 70%;
  }

  .follow-logos li img{
    max-width: 70%;
  }

  .follow-logos{
    margin-bottom: 20px;
  }

  .mob-peyment{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
    display: block;
  }

  .mob-peyment img{
    max-width: 100%;
  }

  .mob-header-bottom-bg{
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
  }

  .mob-header-bottom-content *{
    position: relative;
    z-index: 2;
  }

  .mob-header-bottom-content{
    position: relative;
    width: 90%;
    margin: 0 auto;
  }

  .mob-header-bottom-content-bg{
    position: absolute;
    top: 11%;
    width: 100%;
  }

  .mob-text-btn{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 28%;
  }

  .mob-text-btn img{
    width: 100%;
  }

  .mob-text-btn img:first-child{
    margin-bottom: 10%;
  }

  .bonus-btn, .reg-btn img, .header-top-btn img, .mob-btn, .pop-up-btn{
    cursor: default;
  }

  .steps>div{
    width: 100%;
    box-sizing: border-box;
  }

  .reg-text{
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }

  .reg-text-title{
    width: auto;
  }

  .pop-up-content {
    display: block;
  }
  .pop-up-text {
    width: 100%;
  }
  .pop-up-btn {
    width: 120px;
    margin: 0 auto;
    margin-top: 10px !important;
    padding: 10px 0 10px 0;
  }

  .header-bottom-left-logos{
    display: none;
  }

  .header-bottom-left{
    width: 100%;
  }
  .bonus{
    width: 90%;
    padding-bottom: 30px;
    margin-bottom: 120%;
  }
  .bonus-text1, .bonus-text2 span:last-child {
    font-size: 10.5vw;
  }
  .bonus-text2 span:first-child{
    font-size: 20vw;
  }
  .bonus-text2{
    margin-bottom: 10px;
  }
  .header-bottom-content{
    width: 100%;
  }
  .header-bottom{
    background-image: url("../img/backmob.png");
  }

  .registration-btn div{
    font-size: 6vw;
  }
}

@media screen and (max-width: 414px){
  .header-top-logo, .header-top-btn{
    width: 40%;
  }
}
