body, nav, div, button, ul, li, ol, p {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
}

body {
  overflow-x: hidden;
  background-color: gray;
}

::selection {
  background: #ebc317;
}

body * {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
  min-width: 320px;
}

.pop-up-content {
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pop-up {
  position: fixed;
  width: 100%;
  background-color: black;
  opacity: 0.9;
  box-sizing: border-box;
  bottom: 0;
  z-index: 3;
  padding: 10px;
  display: none;
}

.pop-up-text {
  color: white;
  font-size: 1.2em;
  width: 70%;
  text-align: center;
}

.pop-up-text a {
  font-size: bold;
  color: #ebc317;
}

.pop-up-btn {
  background-color: #ebc317;
  color: black;
  padding: 10px;
  border-radius: 5px;
  width: 100px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

.pop-up-btn, .winners, .rules, .registration, .bet {
  cursor: pointer;
}

.top-navigator {
  position: relative;
  height: 48px;
  background-color: #050d1c;
  box-shadow: 0px 5px 10px 0px rgba(235, 195, 23, 0.8);
}

.nav-content {
  background-color: #050d1c;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
}

.nav-content>div:not(:last-child) {
  margin-right: 20px;
}

.winners, .rules, .registration, .bet {
  font-size: 1.6em;
  font-weight: bold;
  user-select: none;
  -webkit-user-select: none;
}

.winners, .rules {
  position: relative;
  color: #ffffff;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.bottom-border {
  position: absolute;
  display: block;
  left: 0;
  top: 100%;
  margin: 0 auto;
  height: 2px;
  background-color: #ebc317;
  width: 0%;
  transition: width 0.5s ease;
}

.registration {
  color: #ebc317;
  border: 2px solid #ebc317;
  border-radius: 10px;
  padding: 3px 20px;
  background: linear-gradient(to left, transparent 35%, #ebc317 65%);
  background-size: 300% 100%;
  background-position: right bottom;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.bet {
  border-radius: 10px;
  padding: 3px 20px;
  background-color: #ebc317;
  border: 2px solid #ebc317;
  background: linear-gradient(to left, #ebc317 35%, transparent 65%);
  background-size: 300% 100%;
  background-position: right bottom;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.top-img img {
  width: 100%;
  user-select: none;
  -webkit-user-select: none;
  position: relative;
  z-index: -1;
}

.icon-top {
  position: absolute;
  top: 13px;
  z-index: 3;
  user-select: none;
  -webkit-user-select: none;
}

.icon-top img {
  max-width: 100%;
}

.title {
  position: relative;
  color: #ffffff;
  font-size: 4em;
  text-align: center;
  font-weight: bold;
  margin-top: 40px;
}

.bottom-btns {
  text-align: center;
}

.bottom-btns>div {
  width: 100px;
  display: inline-block;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bottom-btns .registration {
  margin-right: 20px;
}

.topnavigator-mobile {
  position: relative;
  height: 48px;
  width: 100%;
  background-color: #050d1c;
  box-shadow: 0px 5px 10px 0px rgba(235, 195, 23, 0.8);
}