@media screen and (min-width: 1921px) {
  .container {
    width: 1920px;
    margin: 0 auto;
  }
  .pop-up {
    width: inherit;
  }
}

@media screen and (max-width: 767px) {
  .pop-up-content {
    display: block;
  }
  .pop-up-text {
    width: 100%;
  }
  .pop-up-btn {
    width: 120px;
    margin: 0 auto;
    margin-top: 10px !important;
    padding: 10px 0 10px 0;
  }
  /* .top-navigator {
    display: none;
  }
  .topnavigator-mobile {
    display: block;
  } */
  .nav-content {
    display: none;
  }
  .nav-content * {
    all: initial;
    * {
      all: unset;
    }
  }
  .nav-content {
    position: absolute;
    top: 49px;
    right: 0px;
  }
  .nav-content>div {
    display: block;
  }
  .hamburger {
    width: 30px;
    height: 20px;
    float: right;
    margin: 14px 20px;
    cursor: pointer;
  }
  .hamburger div {
    width: 100%;
    background: #ebc317;
    height: 4px;
    -webkit-transition: 0.30s ease-in-out;
    transition: 0.30s ease-in-out;
  }
  .hamburger div:not(:last-child) {
    margin-bottom: 3px;
  }
  .hamburger-active div:nth-child(1) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 1em;
  }
  .hamburger-active div:nth-child(2) {
    opacity: 0;
  }
  .hamburger-active div:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: -1.3em;
  }
  .hamburger ul {
    position: absolute;
    color: #ffffff;
  }
}

@media (min-width: 768px) {
  /* .topnavigator-mobile {
    display: none;
  } */
}