.registration:hover {
  background-position: left bottom;
  color: #050d1c;
}

.bet:hover, .footer-btn:hover {
  background-position: left bottom;
  color: #ebc317;
}

.winners:hover .bottom-border, .rules:hover .bottom-border {
  width: 100%;
  box-shadow: 0px 2px 5px 0px rgba(235, 195, 23, 0.8);
}

.winners:hover, .rules:hover {
  color: #ebc317;
}