.slider {
  /* width: 500px;
  height: 250px; */
  width: 100%;
  overflow: hidden;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
}

[data-tab="slider-tab-1"], [data-tab="slider-tab-2"], [data-tab="slider-tab-3"], [data-tab="slider-tab-4"] {
  background-size: cover;
}

[data-tab="slider-tab-1"] {
  background-image: url("1.jpg");
}

[data-tab="slider-tab-2"] {
  background-image: url("2.jpg");
}

[data-tab="slider-tab-3"] {
  background-image: url("3.jpg");
}

[data-tab="slider-tab-4"] {
  background-image: url("4.jpg");
}

.slider * {
  user-select: none;
  -webkit-user-select: none;
}

.slider-content {
  height: 100%;
  position: relative;
  z-index: 1;
  display: flex;
}

.slider-controlls {
  font-family: "Times New Roman", Times, serif;
  display: none;
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 35px;
  padding: 10px;
  cursor: pointer;
}

.slider-controll-right {
  right: 0;
}

.slider-controll-left {
  left: 0;
}

.slider-nav {
  position: absolute;
  z-index: 2;
  bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.slider-nav>div {
  width: 50px;
  height: 7px;
  background-color: #000;
  cursor: pointer;
}

.slider-nav .slider-active {
  background-color: #fff;
}

.slider-nav>div:not(:last-child) {
  margin-right: 3px;
}


/* HOVERS */

.slider:hover .slider-controlls {
  display: flex;
}