
.bottom-banner {
  max-width: 960px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  margin-top: 30px;
  margin-bottom: 30px;
}

.bottom-banner-btn {
  width: 100px;
  height: 100px;
  background-color: #b53636;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 4em;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.bottom-banner-info {
  width: calc(100% - 100px);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/banner-bg.jpg") no-repeat left top;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/banner-bg.jpg") no-repeat left top;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.bottom-banner-info * {
  padding: 0px 20px;
}

.footer {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/footer-bg.jpg") no-repeat left top;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/footer-bg.jpg") no-repeat left top;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.footer-bottom {
  margin: 0 auto;
  max-width: 960px;
  position: relative;
}

.footer-bottom img {
  max-width: 100%;
  display: block;
  -webkit-user-select: none;
  user-select: none;
}

.footer-bottom p {
  color: #ffffff;
  position: absolute;
  top: 0px;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-top {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 100px;
  margin-top: 40px;
}

.footer-menu, .footer-social {
  width: 30%;
}

.footer-about {
  width: 60%;
  padding-right: 4%;
}

.footer-top ul li {
  list-style: none;
  margin: 15px 0px;
}

.footer-menu ul li:not(:first-child) {
  font-weight: bold;
  font-size: 1.1em;
  cursor: pointer;
}

.footer-top {
  color: #b4b4b4;
}

.footer-top-title {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 10px;
}

.f1, .f2, .f3, .f4 {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}

.f1 {
  background-image: url("../img/socials/f1.png");
}

.f2 {
  background-image: url("../img/socials/f2.png");
}

.f3 {
  background-image: url("../img/socials/f3.png");
}

.f4 {
  background-image: url("../img/socials/f4.png");
}

.f1::after {
  background-image: url("../img/socials/f1-hover.png");
}

.f2::after {
  background-image: url("../img/socials/f2-hover.png");
}

.f3::after {
  background-image: url("../img/socials/f3-hover.png");
}

.f4::after {
  background-image: url("../img/socials/f4-hover.png");
}

.f1::after, .f2::after, .f3::after, .f4::after {
  content: "";
  display: inline-block;
  background-size: 100% 100%;
  opacity: 0;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

.footer-follow {
  display: flex;
  justify-content: space-between;
}

.back-to-top {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  background: #b53636;
  cursor: pointer;
  color: #ffffff;
  /* border: 1px solid #b53636; */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 2.5em;
  text-align: center;
  opacity: 0.7;
  /* display: none; */
  box-sizing: border-box;
  line-height: 34px;
  padding: 0;
  z-index: 19;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-user-select: none;
  user-select: none;
}