.footer {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/footer-bg.jpg") no-repeat left top;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/footer-bg.jpg") no-repeat left top;
  background-position: center;
  background-size: cover;
}

.footer-bottom {
  margin: 0 auto;
  max-width: 990px;
  position: relative;
}

.footer-bottom img {
  max-width: 100%;
}

.footer-bottom p {
  color: #ffffff;
  position: absolute;
  top: 0px;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}