.header {
  max-width: 1132px;
  margin: 0 auto;
  position: relative;
}

.top-content {
  height: 620px;
  background-image: url("../img/home-page-bg.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 70% / 4.5%;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
}

.header img {
  max-width: 100%;
}

.navigation {
  position: absolute;
  text-align: center;
  bottom: 10%;
  width: 100%;
}

.header, .navigation * {
  -webkit-user-select: none;
  user-select: none;
}

.navigation li {
  list-style: none;
  display: inline-block;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.1em;
  cursor: pointer;
  padding: 0px 1% 3px 1%;
}

.navigation li:not(:last-of-type) {
  margin-right: 3%;
}

.nav-active, .nav-active-hover {
  color: #b53636 !important;
  background: url("../img/nav-underline.png") center 80% no-repeat;
  background-position-y: 12px;
}