body, nav, div, button, ul, li, ol, p {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: Verdana, Geneva, sans-serif
}

body {
  overflow-x: hidden;
  background-color: #EAE9EF;
}

body * {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
  min-width: 320px;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.header {
  max-width: 1132px;
  margin: 0 auto;
}

.top-content {
  height: 620px;
  background-image: url("../img/home-page-bg.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 70% / 4.5%;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
}

.about-container1, .about-container2, .about-container3 {
  max-width: 1132px;
  width: 90%;
  margin: 0 auto;
  text-align: justify;
  display: flex;
  align-items: stretch;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
}

.about-container1>div {
  width: 50%;
  padding: 2%;
}

.about-container1 p {
  margin-bottom: 15px;
}

.about-container1 h2 {
  margin-top: 0;
}

.about-container1 .about-img {
  background-image: url("../img/about-1.jpg");
  background-size: cover;
  background-position: center;
}

.about-top-btn {
  background-color: #F62F2F;
  width: 200px;
  height: 50px;
}