body, nav, div, button, ul, li, ol, p {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: Verdana, Geneva, sans-serif
}

body * {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
  min-width: 320px;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.header {
  max-width: 1132px;
  margin: 0 auto;
}

.top-content {
  height: 620px;
  background-image: url("../img/home-page-bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  border-radius: 70% / 4.5%;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
}