body, nav, div, button, ul, li, ol, p {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: Verdana, Geneva, sans-serif
}

body {
  overflow-x: hidden;
  background-color: #EAE9EF;
}

body * {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
  min-width: 320px;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.header {
  max-width: 1132px;
  margin: 0 auto;
}

.top-content {
  height: 620px;
  background-image: url("../img/home-page-bg.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 70% / 4.5%;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
}

.about-container1, .about-container2, .about-container3 {
  max-width: 960px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #ffffff;
}

.about-container1 p, .about-container2 p, .about-container3 p, .about-container2 img, .about-container3 img {
  margin-bottom: 15px;
}

.about-container1 h2, .about-container2 h2, .about-container3 h2 {
  margin-top: 0;
}

.about-container1 .about-img {
  background-image: url("../img/about-1.jpg");
  background-size: cover;
  background-position: center;
}

.about-btns {
  background-color: #b53636;
  width: 50%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(to right, #b53636 50%, #1e1e1e 50%);
  background-size: 200% 100%;
  /* background-position: right bottom; */
  transition: all 0.5s ease;
}

.about-btns:hover {
  background-position: right bottom;
}

.about-content1, .about-content2, .about-content3 {
  width: 50%;
  padding: 2%;
}

.about-content2 img, .about-content3 img {
  width: 100%;
}

.bottom-banner {
  max-width: 960px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  margin-bottom: 30px;
}

.bottom-banner-btn {
  width: 100px;
  height: 100px;
  background-color: #b53636;
  cursor: pointer;
}

.bottom-banner-info {
  width: calc(100% - 100px);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/banner-bg.jpg") no-repeat left top;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/banner-bg.jpg") no-repeat left top;
}