/*
 * jQuery FlexSlider v2.6.2
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 */


/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/

.slides, .slides>li, .flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}


/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/

.flexslider {
  margin: 0;
  padding: 0;
  width: 80%;
  margin: 0 auto;
  padding: 0px 40px;
  top: 50%;
  transform: translateY(-85%);
  -webkit-transform: translateY(-85%);
}

.flexslider .slides>li {
  display: none;
  -webkit-backface-visibility: hidden;
}

.slides li>div {
  display: inline-block;
  vertical-align: top;
}

.slider-info {
  color: #ffffff;
}

.slider-info h3 {
  color: #b53636;
}

.slider-img {
  width: 234px;
  margin-right: 20px;
}

.slider-info {
  width: calc(100% - 260px)
}


/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/

.flexslider {
  position: relative;
  zoom: 1;
}

.flexslider .slides {
  zoom: 1;
}

.flexslider .slides img {
  height: auto;
  -moz-user-select: none;
}

.flex-control-nav {
  position: absolute;
  bottom: -30px;
  right: 50%;
  transform: translateX(50%);
  -webkit-transform: translateX(50%);
}

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.flex-control-paging li a {
  width: 50px;
  height: 7px;
  display: block;
  background: #ffffff;
  opacity: 0.6;
  cursor: pointer;
  text-indent: -9999px;
  margin-right: -9px;
}

.flex-control-paging li a.flex-active {
  background: #b53636;
  opacity: 1;
  cursor: pointer;
}

.flex-direction-nav {
  position: absolute;
  top: 40%;
  width: 100%;
}

.flex-prev, .flex-next {
  display: none;
  position: absolute;
  cursor: pointer;
  text-decoration: none;
  font-size: 60px;
  opacity: 0.9;
  color: #ffffff;
  width: 33px;
  height: 62px;
  line-height: 55px;
  transition: .5s;
  -webkit-transition: .5s;
}

.flex-prev {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-left: none;
  left: -40px;
}

.flex-next {
  text-indent: 5px;
  right: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-right: none;
  right: 40px;
}