/* Slider Hovers */

.flex-container a:hover, .flex-slider a:hover {
  outline: none;
}

.flex-control-paging li a:hover {
  background: #b53636;
  opacity: 0.5;
}

.flex-prev:hover, .flex-next:hover {
  color: #b53636;
}

.flexslider:hover .flex-next, .flexslider:hover .flex-prev {
  display: block;
}

.slides li img:hover {
  cursor: pointer;
}


/* Slider Hovers END*/

.about-btns:hover {
  background-position: left bottom;
  color: #b53636;
}

.bottom-banner-btn:hover {
  color: #1e1e1e;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}