.img-gallery-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  top: 0px;
  left: 0px;
  z-index: 2;
  display: none;
}

.img_gallery {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  z-index: 999999;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.img_gallery * {
  -webkit-user-select: none;
  user-select: none;
  z-index: 999999;
}

.img_gallery h1 {
  font-size: 2.125em;
  line-height: 0.882em;
  text-transform: uppercase;
}

.img_gallery h1 span {
  font-size: 0.588em;
  line-height: 1em;
  color: #aaa;
  display: block;
}

.img_gallery h2 {
  border-top: 1px solid #ddd;
  padding-top: 1.875em;
  margin-top: 1.875em;
  margin-bottom: 0.625em;
}

.img_gallery h2 span {
  color: #666;
}

.img_gallery ul {
  width: 100%;
  height: 90vh;
  overflow-x: hidden;
}

.img_gallery li {
  display: inline-block;
  margin: 5px;
}

.img_gallery img {
  width: 15em;
  border: 2px solid #5e0000;
  border-radius: 5px;
  -webkit-transition: -webkit-box-shadow .3s ease, border-color .3s ease;
  -moz-transition: -moz-box-shadow .3s ease, border-color .3s ease;
  -ms-transition: -ms-box-shadow .3s ease, border-color .3s ease;
  -o-transition: -o-box-shadow .3s ease, border-color .3s ease;
  transition: box-shadow .3s ease, border-color .3s ease;
}

.imagelightbox-nav .active, .imagelightbox-nav .active:hover {
  background-color: #b53636;
  opacity: 1;
}


/* IMAGE LIGHTBOX SELECTOR */

#imagelightbox {
  cursor: pointer;
  position: fixed;
  z-index: 10000;
  top: 50%;
  touch-action: none;
  box-shadow: 0 0 3.125em rgba(0, 0, 0, .75);
  /* 50 */
  left: 0 !important;
  right: 0;
  margin: 0 auto;
}

.imagelightbox-open {
  user-select: none;
  overflow: hidden;
}


/* WITH ACTIVITY INDICATION */

.imagelightbox-loading, .imagelightbox-loading div {
  border-radius: 9999px;
}

.imagelightbox-loading {
  background-color: rgb(128, 128, 128);
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  z-index: 10003;
  top: 50%;
  left: 50%;
  padding: 0.65em;
  margin: -1.3em 0 0 -1.3em;
  box-shadow: 0 0 2.5em rgba(0, 0, 0, .75);
  /* 40 */
}

.imagelightbox-loading div {
  width: 1.3em;
  height: 1.3em;
  background-color: #fff;
  animation: imagelightbox-loading .5s ease infinite;
}


/* WITH OVERLAY */

.imagelightbox-overlay {
  background-color: #000000;
  opacity: 0.8;
  position: fixed;
  z-index: 9998;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


/* WITH "CLOSE" BUTTON */

.imagelightbox-close, .img-gallery-container-close-btn {
  cursor: pointer;
  width: 2.5em;
  height: 2.5em;
  position: fixed;
  z-index: 10002;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  transition: color .3s ease;
}

.img-gallery-container-close-btn {
  z-index: 2;
}

.imagelightbox-close:before, .imagelightbox-close:after, .img-gallery-container-close-btn:before, .img-gallery-container-close-btn:after {
  width: 3px;
  background-color: #ffffff;
  content: '';
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: 50%;
  margin-left: -1px;
}

.imagelightbox-close:before, .img-gallery-container-close-btn:before {
  transform: rotate(45deg);
}

.imagelightbox-close:after, .img-gallery-container-close-btn:after {
  transform: rotate(-45deg);
}


/* WITH CAPTION */

.imagelightbox-caption {
  text-align: center;
  color: #fff;
  background-color: #666;
  position: fixed;
  z-index: 10001;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.625em;
  /* 10 */
}


/* WITH NAVIGATION */

.imagelightbox-nav {
  position: fixed;
  width: 100%;
  z-index: 10001;
  left: 50%;
  bottom: 3.75em;
  /* 60 */
  padding: 0.313em;
  /* 5 */
  transform: translateX(-50%);
  text-align: center;
}

.imagelightbox-nav a {
  position: relative;
  top: 0.2em;
  display: inline-block;
  margin: 0 3px;
  width: 50px;
  height: 7px;
  background: #ffffff;
  box-shadow: 0px 0px 5px 1px #000000;
  opacity: 0.5;
  cursor: pointer;
  text-indent: -9999px;
}


/* WITH ARROWS */

.imagelightbox-arrow {
  display: none;
  position: fixed;
  z-index: 10001;
  top: 50%;
  transform: translateY(-50%);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 60px;
  border: none;
  background: transparent;
  opacity: 0.9;
  color: #ffffff;
  width: 33px;
  height: 62px;
  line-height: 55px;
}

.imagelightbox-arrow:active {
  background-color: #111;
}

.imagelightbox-arrow-left {
  left: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-left: none;
}

.imagelightbox-arrow-right {
  right: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-right: none;
}

.imagelightbox-arrow-left:before {
  content: '‹';
  position: absolute;
  top: -2%;
  right: 10%;
}

.imagelightbox-arrow-right:before {
  content: '›';
  position: absolute;
  top: -2%;
  left: 10%;
}

.imagelightbox-loading, .imagelightbox-overlay, .imagelightbox-close, .imagelightbox-nav, .imagelightbox-arrow {
  animation: fade-in .25s linear;
}