.loader-bg {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-image: url("../img/black-blur.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.loader {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  -webkit-animation: spin 2s linear infinite;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: url("../img/loader-wheel.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.loading {
  color: #b53636;
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  width: 81px;
  height: 20px;
  margin: auto;
  top: 130px;
  right: 0;
  left: 0;
  bottom: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}