@media screen and (min-width: 1921px) {}

@media screen and (max-width: 950px) {
  .navigation li:not(:last-of-type) {
    margin-right: 2%;
  }
}

@media screen and (max-width: 850px) {
  .navigation li:not(:last-of-type) {
    margin-right: 1%;
  }
}

@media screen and (max-width: 767px) {
  .about-container1, .about-container2, .about-container3 {
    flex-direction: column;
    width: 95%;
  }
  .bottom-banner, .footer-top {
    width: 95%;
  }
  .about-content1, .about-content2, .about-content3 {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }
  .about-content1 p, .about-content2 p, .about-content3 p {
    text-align: justify;
    text-align-last: center;
  }
  .about-btns {
    margin: 0 auto;
  }
  .footer-top {
    display: block;
    padding: 0 2%;
  }
  .footer-top>div {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }
  .footer-follow {
    justify-content: center;
  }
  .footer-follow>div:not(:last-of-type) {
    margin-right: 10px;
  }
  .slides li {
    flex-direction: column;
  }
  .slides li>div {
    width: 100%;
    text-align: center;
  }
  .slider-img {
    margin: 20px 0px;
  }
  .flexslider {
    width: auto;
    transform: translateY(-75%);
    -webkit-transform: translateY(-75%);
  }
  .flex-control-nav {
    bottom: -40px;
  }
}

@media screen and (max-width: 550px) {
  .bottom-banner, .bottom-banner-info, .bottom-banner-info * {
    display: block
  }
  .bottom-banner-info {
    overflow: hidden;
  }
  .bottom-banner * {
    width: 100%;
  }
  .bottom-banner-info h3, .bottom-banner-info p {
    text-align: center;
    box-sizing: border-box;
  }
  .bottom-banner-btn {
    height: 70px;
  }
  .bottom-banner-info h3 {
    margin: 20px 0;
  }
  .bottom-banner-info p {
    margin-bottom: 20px;
  }
  .flexslider {
    width: auto;
    transform: translateY(-70%);
    -webkit-transform: translateY(-70%);
  }
  .slider-info p {
    text-align: justify;
    text-align-last: center;
  }
}

@media screen and (max-width: 411px) {
  .flexslider {
    transform: translateY(-65%);
    -webkit-transform: translateY(-65%);
  }
}

@media screen and (max-width: 360px) {
  .footer-bottom p {
    font-size: 0.9em;
  }
}