body, nav, div, button, ul, li, ol, p, h2, h3 {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: "Rubik", sans-serif;
}

body {
  overflow-x: hidden;
  background-color: #eae9ef;
}

::selection {
  background: #b53636;
}

body * {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
  min-width: 320px;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.top-text, .cars, .categories {
  margin: 0 auto;
  max-width: 960px;
  width: 90%;
}

.top-text {
  text-align: center;
  margin-bottom: 30px;
}

.cars {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.cars>div {
  cursor: pointer;
  position: relative;
  width: 25%;
}

.cars>div img {
  max-width: 100%;
  display: block;
}

.cars-hover {
  position: absolute;
  bottom: 0;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1em;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  font-weight: bold;
  display: none;
}

.categories {
  display: flex;
}

.categories-nav {
  width: 220px;
}

.categories-title {
  background-color: #b53636;
  text-align: center;
  padding: 15px;
  color: #ffffff;
  font-size: 1.5em;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  position: relative;
  z-index: 1;
}

.categories-car-names {
  background-color: #000000;
  color: #ffffff;
  font-size: 1em;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  box-sizing: border-box;
}

.categories-car-names li {
  list-style: none;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  margin-left: 35px;
}

.car-names-active, .car-names-active-hover {
  color: #b53636;
  background: url("../img/nav-underline.png") center no-repeat;
  background-position-y: 100%;
}

.categories-content {
  width: calc(100% - 220px);
  text-align: right;
}

.car-item hr {
  margin: 15px 0px;
  border-top: 1px solid #b53636;
}

.car-img {
  user-select: none;
  -webkit-user-select: none;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
}

.car-item p, .car-pages {
  text-align: center;
}

.car-item {
  padding: 10px;
  background-color: #ffffff;
  box-sizing: border-box;
  width: 31%;
  margin-bottom: 10px;
  display: inline-block;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  text-align: center;
}

.car-item:not(:nth-child(3n+3)) {
  margin-right: 6px;
}

.buy-car {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.buy-car div:nth-child(2) {
  color: #B4B4B4;
  cursor: pointer;
  padding-right: 20px;
  background-image: url("../img/plus.png");
  background-repeat: no-repeat;
  background-position: 85px 2px;
}

.tab-content, .car-tab-content {
  display: none;
}

.categories-content>.current, .car-pages-container .current {
  display: block;
}

.car-tab-link {
  list-style: none;
  display: inline-block;
  color: #ffffff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  cursor: pointer;
  background: #000000;
  background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
  background: -webkit-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
  background: linear-gradient(to bottom, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0);
}

.car-pages .current {
  background: #b53636;
  background: -moz-linear-gradient(top, #b27b7b 0%, #b53636 50%, #b20000 51%, #b24c4c 100%);
  background: -webkit-linear-gradient(top, #b27b7b 0%, #b53636 50%, #b20000 51%, #b24c4c 100%);
  background: linear-gradient(to bottom, #b27b7b 0%, #b53636 50%, #b20000 51%, #b24c4c 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#b27b7b', endColorstr='#b24c4c', GradientType=0);
}

.call-us {
  margin-top: 20px;
  padding: 20px;
  height: 250px;
  background-image: url("../img/call-us.jpg");
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
}

.call-us h3 {
  color: #000000;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.call-us a {
  font-size: 1.3em;
  color: #b53636;
  display: block;
  text-align: center;
  font-weight: bold;
  user-select: none;
  -webkit-user-select: none;
}