body, nav, div, button, ul, li, ol, p, h2, h3 {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: "Rubik", sans-serif;
}

body {
  overflow-x: hidden;
  background-color: #eae9ef;
}

::selection {
  background: #b53636;
}

body * {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
  min-width: 320px;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.middle-container{
  max-width: 960px;
  margin: 0 auto;
}

.top-text{
  text-align: center;
  margin-bottom: 20px;
}

.cars{
  display: flex;
}

.cars > div{
  display: flex;
  cursor: pointer;
  position: relative;
}


.cars-hover{
  position: absolute;
  bottom: 0;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1em;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  font-weight: bold;
  display: none;
}