@media screen and (min-width: 1921px) {
  .container, .privacy-content, .cookie-content {
    width: 1920px;
  }
  .nav-bar, .buy-games, .free-acc {
    width: inherit;
  }
}

@media screen and (max-width: 1024px) {
  .trailers>div {
    width: 47%;
  }
  .cover-art, .cover-art-menu{
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  /* HOVERS */
  .footer-nav li:hover, .footer-email a:hover, .footer-phone a:hover, .footer-nav li:hover a  {
    color: #c1b575;
  }
  .purchase-close-btn:hover{
    cursor: pointer;
    color: #c1b575;
  }
  .policy-close-btn:hover, .btn-success:hover, .last-patch-notes button:hover {
    background-color: #1e1e1e;
    color: #c1b575
  }
  .games:hover .down-arrow, .profile:hover .down-arrow, .alternative-signin:hover .reg-down-arrow {
    border-top-color: #c1b575;
  }
  .login-form-btns button:hover, .buy-this button:hover, .cover-art-btn:hover {
    background-color: #10a1de
  }
  .fb-btn:hover, .reg-fb-btn:hover {
    background: #4668af
  }
  .google-btn:hover, .reg-google-btn:hover {
    background: #ef5d58
  }
  .tabs li:hover, .months li:hover, .countries li:hover, .questions li:hover {
    background: #1e1e1e
  }
  .inactive:hover  {
    border-color: #996019
  }
  .inactive:hover div {
    background: #996019
  }
  .back-to-top:hover {
    opacity: 1;
    cursor: pointer
  }
  .submit:hover, .btn-success:hover {
    background-color: #1e1e1e;
    color: #c1b575;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .flex-prev:hover, .flex-next:hover{
    background-color: black;
  }
  .img_gallery h1 a:hover,
  .img_gallery h1 a:hover span {
      color: #666;
  }
  .img_gallery img:hover {
      border-color: #c1b575;
  }
  .imagelightbox-close:hover:before, .imagelightbox-close:hover:after {
    background-color: #c1b575;
  }
  .imagelightbox-nav a:hover{
    background-color: #c1b575;
    opacity: 0.5;
  }

  .imagelightbox-nav .active:hover  {
      background-color: #996019;
      opacity: 1;
  }
  .imagelightbox-arrow:hover,
  .imagelightbox-arrow:focus, .imagelightbox-close:hover {
      background-color: black;
  }
  .imagelightbox-arrow-left:hover, .imagelightbox-arrow-right:hover{
    color: #c1b575;
  }
}

@media screen and (max-width: 767px) {
  body * {
    cursor: default !important;
  }
  .login-form{
    width: 80%;
  }
  .trailers>div {
    width: 95%;
  }
  .flex-control-nav {
    width: 100%;
    text-align: center;
  }
  .flex-control-nav li {
    width: 10%;
  }
  .flex-control-paging li a {
    width: auto;
  }
  .flex-direction-nav {
    display: none !important;
  }
  .grid {
    right: 54px;
  }
  .wide {
    right: 20px;
  }
  .tabs{
    width: 100%;
  }

  .tab-link{
    width: 29% !important;
  }
  .privacy-content>div, .cookie-content>div{
    width: 95%;
  }
  .mob-close{
    display: block;
  }
  .buy-games{
    max-height: 460px;
    overflow-y: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-right: 0px;
  }
  .img_gallery{
    width: 100%;
  }
  .img_gallery img{
    width: 13em;
  }
  .img_gallery li {
    margin: 2px;
  }
  .top-content>*{
    display: block;
    width: 100%;
  }
  .game-info-scroll, .purchase-content{
    padding: 0 2%;
  }
  .game-info-scroll{
    height: 500px !important;
  }
}

@media screen and (max-width: 669px) {
  .login-form{
    width: 90%;
  }
  .footer-nav div:not(:last-child) ul{
    border-right: none !important;
  }
  .registration{
    width: 99%;
    box-sizing: border-box;
  }
  .img_gallery img{
    width: 12em;
  }
}
@media screen and (max-width: 444px) {
  .footer-nav{
    margin-top: 60px;
  }
}
@media screen and (max-width: 440px) {
  .footer-nav{
    margin-top: 60px;
  }
  .login-form{
    width: 100%;
  }
  .login-form-btns, .fb-google, .or, .login-form-inputs input{
    width: 90%;
  }
  .month{
    width: 59.5%;
  }
  .day, .year{
    width: 19.5%;
  }
  .img_gallery img{
    width: 11em;
  }
}
