/* Slider Hovers */

.slider:hover .slider-controlls {
  display: flex;
}

.slider-controlls:hover {
  color: #26253a;
}

.slider-nav>div:hover {
  background-color: #26253a;
}


/* Slider Hovers END*/

.nav-right li:hover {
  color: #000;
}

.light-hover-btn:hover {
  background-color: #fff;
  color: #000;
}

.dark-hover-btn:hover {
  background-color: #000;
  color: #fff;
}

.nav-map li:hover {
  background-color: #008AE6;
}

.f1:hover::after, .f2:hover::after, .f3:hover::after, .f4:hover::after, .back-to-top:hover {
  opacity: 1;
}